.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 40vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Beer-list {
  list-style-type: none;
  color: white;
  font-size: calc(10px + 2vmin);
  padding: 1rem;
}
